<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Home</title>
		<meta name="description" content="">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
    	<div id="items">
			<form id="addItem" action="#">
				<div>
					<label for="name">Name: </label><input id="name" type="text" name="item[name]" />
					<label for="description">Description: </label><input id="description" type="text" name="item[description]" />
					<label for="category">Category: </label><input id="category" type="text" name="item[category]" />
					<label for="cost">Cost: </label><input id="cost" type="text" name="item[cost]" />
					<button id="add">Add</button>
				</div>
			</form>
    </div>
    <script id="itemTemplate" type="text/template">
      <ul>
        <li><%= name %></li>
        <li><%= description %></li>
        <li><%= cost %></li>
        <li><%= category.name %></li>
      </ul>
      <button class="delete">Delete</button>
    </script>
    <script data-main="js/app.js" src="js/vendor/requirejs/require.js"></script>
    </body>
</html>